* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-content: center;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 165px 0 165px;
}

/* NAV */
header {
  display: flex;
  justify-content: space-between;
  margin: 55px 165px 0 165px;
  width: 1110px;
  height: 58px;
}

header img {
  width: 40px;
  height: 40px;
}

.headerbutton {
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #162542;
  text-transform: uppercase;
}

.headerbutton:active {
  cursor: pointer;
  background-color: #162542;
  color: #e8eff2;
}

/* INTRODUCTION */
.Introduction {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 480px;
  margin-top: -20px;
}

.Introduction img {
  width: 540px;
  height: 480px;
  border-radius: 8px;
  margin-top: 10%;
}

.Content {
  width: 445px;
  height: 312px;
  margin-top: 220px;
  align-self: center;
}

.Content h4 {
  position: relative;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  color: #162542;
  width: 445px;
  height: 112px;
}

.Content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  margin-top: 15%;
  color: #7b8bad;
}

.btn-container {
  display: flex;
  margin-top: 5%;
}

.btn-container button {
  width: 175px;
  height: 58px;
  background-color: #f16718;
  border: none;
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.btn-container p {
  margin: auto;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.btn-container button:active {
  background-color: #ff9b62;
  color: white;
  cursor: pointer;
}

/* PRODUCT */
.Opaque-Image img {
  width: 225px;
  height: 480px;
  border-radius: 8px;
}

.opacity {
  background-color: #e36117;
  width: 225px;
  height: 480px;
  position: relative;
  left: -46.2rem;
  opacity: 0.8;
  border-radius: 8px;
}

.Keyboard-With-Glass img {
  width: 455px;
  height: 480px;
  border-radius: 8px;
}

.Keyboards {
  display: flex;
  column-gap: 30px;
  margin-top: 5%;
}

.Product {
  display: flex;
  width: 1110px;
  height: 480px;
  margin-top: 100px;
  
}

.Description {
  margin-top: 134px;
  margin-left: -115px;
  width: 255px;
  height: 265px;
}

.Description h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #162542;
  width: 255px;
  height: 108px;
}

.Description p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
  width: 255px;
  height: 130px;
}

/* FEATURE */
.Feature {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 20%;
  column-gap: 30px;
  width: 1110px;
  height: 320px;
}

.Icon-feature {
  width: 255px;
  height: 323px;
}

.Feature h4 {
  width: 255px;
  height: 56px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  line-height: 28px;
  font-size: 24px;
  text-transform: uppercase;
  color: #162542;
  margin-top: 20%;
}

.Feature p {
  width: 255px;
  height: 130px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #7b8bad;
  margin-top: 10%;
}

.Icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16718;
  width: 65px;
  height: 65px;
  border-radius: 8px;
}

/* DECORATIVE SQUARES */
.square1 {
  left: 1305px;
  top: 200px;
  position: absolute;
}

.square2 {
  left: -120px;
  top: 970px;
  position: absolute;
}

/* FOOTER */
footer {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #7b8bad;
  text-align: center;
  padding: 3%;
  font-size: 16px;
  margin-top: 10%;
  width: 100%;
}


/* MOBILE VIEW */
@media (min-width: 300px) and (max-width: 428px) {
  body {
    overflow-x: hidden;
  }

  header {
    margin: 24px 24px 0 24px;
    width: 327px;
    height: 48px;
  }

  main {
    overflow-x: hidden;
    margin: 0 24px 0 24px;
  }

  .Introduction {
    width: 327px;
    height: auto;
    margin-top: 30px;
  }

  .Content {
    width: 327px;
    height: auto;
    margin-top: 10%;
  }

  .Content h4 {
    width: 327px;
    height: 96px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
  }

  .Content p {
    line-height: 26px;
    margin-top: 32px;
    margin-top: 20px;
    width: 327px;
    height: 78px;
  }

  .btn-container {
    display: flex;
    column-gap: 19px;
    width: 367px;
    height: 48px;
    margin-top: 50px;

  }

  .Introduction img {
    position: absolute;
    border-radius: 20px;
    width: 372px;
    height: 331px;
    margin-top: 105%;
    left: 24px;
  }

  .Product {
    width: 373vw;
    height: 193px;
    margin-top: 560px;
  }

  .Product img {
    position: absolute;
    margin-top: 50px;
    width: 387px;
    height: 193px;
  }

  .Product .Opaque-Image img {
    width: 129px;
    height: 193px;
    border-radius: 20px;
    margin-top: 0%;
    opacity: 0.1;
  }


  .Opaque-Image {
    background-color: #e36117;
    height: 300px;
    width: 200px;
  }

  .Product .Keyboard-With-Glass img {
    width: 220px;
    height: 193px;
    left: 131px;
    top: 840px;
  }

  .Opaque-Image {
    width: 129px;
    height: 193px;
    border-radius: 20px;
    top: 890px;
    margin-left: -10%;
    position: absolute;
  }

  .Keyboard-With-Glass {
    width: 220px;
    height: 193px;
  }

  .Description {
    width: 327px;
    height: 236px;
  }

  .Description h4 {
    justify-content: center;
    position: absolute;
    text-align: center;
    align-content: center;
    width: 255px;
    height: 108px;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    margin-top: 75px;
    left: 70px;
  }

  .Description P {
    position: absolute;
    margin-top: 180px;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 327px;
    height: 104px;
    left: 24px;
    margin-top: 60%;
    line-height: 135%;
    display: block;
  }

  .Feature {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
    width: 327px;
    height: auto;
  }

  .Icon-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Icon-feature h4,
  .Icon-feature p {
    text-align: center;
    margin-top: 15%;
  }

  .square1 {
    display: none;
  }

  .square2 {
    display: none;
  }

  footer {
    font-size: 12px;
    align-content: center;
    margin-top: 20%;
    width: 100%;
    padding: 10%;
  }
}

/* MEDIA QUERY FOR TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }

  main {
    margin: 0 40px 0 40px;
  }

  header {
    margin: 40px 40px 0 40px;
    width: 689px;
    height: 58px;
  }

  .Content {
    width: 445px;
    height: 312px;
  }

  .Content h4 {
    width: 339px;
    height: 96px;
    font-size: 48px;
  }

  .Content p {
    width: 339px;
    height: 78px;
    font-size: 16px;
    margin-top: 20px;
  }

  .btn-container {
    width: 344px;
    height: 58px;
    column-gap: 42px;
  }

  .btn-container button {
    width: 224px;
    height: 58px;
  }

  .btn-container p {
    font-size: 16px;
  }

  .Introduction {
    column-gap: 60px;
    width: 886px;
    height: 425px;
  }

  .Introduction img {
    width: 321px;
    height: 425px;
    margin-right: 350px;
    object-fit: contain;
  }

  .Product {
    margin-top: 47px;
  }
  

  .Opaque-Image img{
    width: 214px;
    height: 320px;
  }
  
  .Keyboard-With-Glass img{
    width: 445px;
    height: 320px;
  }

  .opacity {
  background-color: #e36117;
  width: 214px;
  height: 320px;
  position: relative;
  left: -44.9rem;
  opacity: 0.8;
  border-radius: 8px;
}

  .Description {
    position: absolute;
    display: flex;
    align-items: center;
    width: 689px;
    height: 108px;
    margin: 450px 40px 0 40px;
    justify-content: space-around;

  }

  .Description h4 {
    width: 255px;
    height: 108px;
    padding: 0;
    margin-left: -68px;
  }

  .Description p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7b8bad;
    width: 398px;
    height: 78px;
  }

  .Feature {
    display: grid;
    margin: 300px  0 40px;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    width: 637px;
    height: 650px;
  }

  .Icon-feature p {
    width: 281px;
    height: 104px;
    margin-top: 20%;
  }

  .Icon-feature h4 {
    margin-top: 20%;
  }

  .square1 {
    display: none;
  }

  .square2 {
    display: none;
  }

  footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: #7b8bad;
    text-align: center;
    align-self: center;
    width: 100%;
    margin-top: 30%;
    font-size: 16px;
  }
}