
body{
  /* width: 1440px; */
  /* height: 1870px; */
  overflow-x: hidden;
}



main {
  margin: 0 30px 0 30px;
  align-items: center;
  /* overflow-x: hidden; */
}

/* NAV */
header {
  display: flex;
  /* column-gap: 780px; */
  /* column-gap: 200px; */
  /* margin: 55px 30px 0 30px; */
  justify-content: space-between;
}

header img {
  margin-left: 30px;
  /* margin-left: 165px; */
  /* width: 40px; */
  /* height: 40px; */
  /* align-self: center; */
}

.headerbutton {
  /* width: 15w; */
  /* height: 58px; */
  border-radius: 8px;
  border: none;
  /* margin-right: 165px; */
  font-weight: 700;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #162542;
  text-transform: uppercase;
}

.headerbutton:hover {
  cursor: pointer;
  background-color: #162542;
  color: #e8eff2;
}

/* INTRODUCTION */
.Introduction {
  display: flex;
  column-gap: 130px;
  /* justify-content: space-between; */
  /* column-gap: 50px; */
  
}

.Introduction img {
  width: 540px;
  height: 480px;
  border-radius: 8px;
  margin-top: 10%;
  /* margin-left: -8%; */
}

.Content {
  width: 445px;
  align-self: center;
}

.Content h4 {
  /* width: 445px; */
  position: relative;
  font-weight: 900;
  font-size: 47px;
  line-height: 56px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  color: #162542;
}

.Content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  margin-top: -15%;
  color: #7b8bad;
}

.btn-container {
  display: flex;
  margin-top: 5%;
}

.btn-container button {
  width: 175px;
  height: 58px;
  background-color: #f16718;
  border: none;
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.btn-container p {
  margin: auto;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.btn-container button:hover {
  background-color: #ff9b62;
  color: white;
  cursor: pointer;
}

/* PRODUCT */
.Opaque-Image img {
  width: 225px;
  height: 480px;
  border-radius: 8px;
}

.Keyboard-With-Glass img {
  width: 455px;
  height: 480px;
  border-radius: 8px;
}

.Product {
  display: flex;
  column-gap: 20px;
  margin-top: 5%;
}

.Description {
  /* width: 255px; */
  /* height: 265px; */
  margin-top: 100px;
  align-content: center;
  /* margin: 50px 100px; */
}

.Description h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #162542;
  width: 225px;
}

.Description p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
   Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
  width: 225px;
}

/* FEATURE */
.Feature {
  display: flex;
  margin-top: 100px; 
  column-gap: 30px;
}

.Icon-feature {
  width: 255px;
  height: 323px;
}

.Feature h4 {
  width: 255px;
  height: 56px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  line-height: 28px;
  font-size: 24px;
  text-transform: uppercase;
  color: #162542;
}

.Feature p {
  width: 255px;
  height: 130px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #7b8bad;
}

.Icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16718;
  width: 65px;
  height: 65px;
  border-radius: 8px;
}

/* .square1{
  margin-top: -670px;
  margin-left: -280px;
  position: absolute;
} */

/* .square2{
   margin-left: 1140px;
   margin-top:-1440px;
   position: absolute;
} */

footer{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#7B8BAD;
  text-align: center;
  margin-top: 30%;
  font-size:16px;
  
}


  /* MOBILE VIEW */
@media (min-width: 320px) and (max-width: 428px){
 
  header {
    display: flex;
    margin-top: 55px;
  }

  .headerbutton{
    width: 50vw;
  }

  body{
    /* margin: 0 24px 0 24px; not part when commenting in */
    overflow-x: hidden;
    margin: 0 0 0 0;
  }
    
  main {
    align-items: center;
    overflow-x: hidden;
    margin:0 0 0 0 0;
    }

  
  .Content {
    width: 290px;
    height: 286px;
    align-items: center;
    /* margin: 0 24px 0 24px; */
  }

  .Content h4{
    width: 290px;
    font-size: 39px;
  }

  .Content {
    /* position: absolute; */
    width: 327px;
    height: 286px;
    left: 24px;
    top: 135px;
  }

  .Introduction img {
    position: absolute;
    /* margin-top: 500px; */
    border-radius: 20px;
    
    width: 372px;
    height: 331px;
    top: 485px;
    left: 24px;
  
  }

  .Content h4 {
    
  }
  /* .btn-container p {
    position: absolute;
    height: 26px;
    left: 58.71%;
    right: 0.32%;
    bottom: auto;
  } */

  .Product{
    width:373vw ;
    height: auto;
    /* height: 193px; */
    margin-top: 560px;
    /* gap: 100px; */
    /* position: absolute; */
  }

  .Product img {
    position: absolute;
    margin-top: 50px;
    
  }

  .Product .Opaque-Image img {
    /* position: absolute; */
    width: 129px;
    height: 193px;
    left: -10px;
    top: 840px;
    opacity: 0.75;
    background-image: url(./images/mobile/image-phone-and-keyboard.jpg);
    mix-blend-mode: multiply;
    background: #f16718;
    border-radius: 20px;
  }

  .Product .Keyboard-With-Glass img {
    /* position: absolute; */
    width: 220px;
    height: 193px;
    left: 131px;
    top: 840px;
  }

  .Opaque-Image{
    /* margin-left: 0px; */
    /* width: 109px; */
    /* height: 193px; */
    margin-left:-36x ; 
  }

  .Keyboard-With-Glass{
    width: 220px;
    height: 193px;
  }

 

  /* .Description{
    position: absolute;
    margin-top: 500px;
    display: block;
    text-align: center;
  } */

.Description h4{
  /* line-height: 36px; */
  /* display: block; */
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  text-align: center;
  top: 1055px;
  left: 60px;
}

 .Description P{
  /* display: block; */
  /* align-items: center; */
  /* justify-content: center; */
  position: absolute;
  margin-top: 170px;
  margin-left:-230px;
  text-align: center;
  line-height: 30px;
  display: block;
  /* text-justify: center; */

 }
 

 
.Feature{
  margin-top: 300px;
   display: flex;
   flex-direction: column;
   gap: 100px;
   align-items: center;
   justify-content: center;
   
}

/* align-self: center; */
.Icon-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Icon-feature h4, .Icon-feature p {
  text-align: center;
}

footer{
  padding: 5%;
}
}

/* MEDIA QUERY FOR TABLET */
@media (min-width: 768px) and (max-width: 1023px){
  body{
    width:768px;
    height: 2128px;
    /* margin: 0 40px 0 40px; */
    overflow-x: hidden;
  }

  main {
    align-items: center;
    margin: 0 40px 0 40px;
  }

  header img {
    margin-left: 40px;
    width: 40px;
    height: 40px;
  }

  .Product img{
    border-radius: 30px;
  }

  .Description {
    position:absolute;
    display: flex;
    column-gap: 39px;
    align-items: center;
    height: 108px;
    margin:550px 40px 0 40px;
  }

  .Description p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
     Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7b8bad;
    width: 398px;
  }

  .Feature {
    display: grid;
    margin:300px 40px 0 40px;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  footer{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#7B8BAD;
    text-align: center;
    margin-top: 100px;
    font-size:16px;
    font-weight: 700;
    padding: 50px;
  }
}














